<mat-toolbar color="primary" fxLayout="row">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
    <span>BOTMIND BLOG</span>
    <span class="example-spacer"></span>

    <section>
        <div>
            <button *ngIf="authService?.isLoggedIn()" routerLink="/blogs" routerLinkActive="active" mat-button>
        Accueil
      </button>

            <button *ngIf="authService?.isLoggedIn()" mat-button class="mat-select-arrow-wrapper" [matMenuTriggerFor]="menu">
        {{ this.user?.firstName }} {{ this.user?.lastName }} <mat-icon>filter_list</mat-icon>
      </button>
            <mat-menu #menu="matMenu">
                <button routerLink="/blogs/add" mat-menu-item>Ajouter un blog</button>
                <button routerLink="profile" mat-menu-item>Mon profil</button>
                <button [routerLink]="['/blogs/users/', this.user?._id]" routerLinkActive="active" mat-menu-item>
          Voire mes blogs
        </button>
                <button (click)="onLogoutClick()" mat-menu-item>Deconnexion</button>
            </mat-menu>
            <button *ngIf="!authService.isLoggedIn()" routerLink="/auth/login" routerLinkActive="active" mat-button>
        Connexion
      </button>
            <button *ngIf="!authService.isLoggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" routerLink="/auth/register" routerLinkActive="active" mat-button>
        Inscription
      </button>
        </div>
    </section>
</mat-toolbar>
<ng-content></ng-content>