<div class="container">
    <mat-card>
        <mat-card-title>INSCRIPTION</mat-card-title>
        <mat-card-content>
            <form [formGroup]="loginForm" fxLayout="column" fxLayoutAlign="center none">
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher"
                        placeholder="Ex. pat@example.com">

                    <mat-error *ngIf="loginForm.get('email').hasError('required') && loginForm.touched">
                        L'adresse mail est <strong>requise</strong>
                    </mat-error>
                </mat-form-field>


                <mat-form-field class="example-full-width">
                    <mat-label>Mot de passe</mat-label>
                    <input type="password" matInput formControlName="password" [errorStateMatcher]="matcher"
                        placeholder="************">
                    <mat-error *ngIf="loginForm.get('password').hasError('required') && loginForm.touched">
                        Le mot de passe est <strong>requis</strong>
                    </mat-error>
                </mat-form-field>
            </form>
            <!-- <button mat-raised-button (click)="login({username:username.value, password:password.value})">login</button> -->
            <button mat-raised-button>Valider</button>
        </mat-card-content>
    </mat-card>
</div>