<div>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>BOTMIND APP</span>
        <span class="example-spacer"></span>
        
        <section>
            <div>
                <button routerLink="/login" routerLinkActive="active" mat-button>Connexion</button><button routerLink="/register" routerLinkActive="active" mat-button>Inscription</button>
            </div>
        </section>
    </mat-toolbar>
</div>
